@import './google-button';

.btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .2s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 30);
    }
}

.btn-primary {
    background-color: $primary;
    border-radius: 2px;

    transition: background-color .2s ease;
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block {
    width: 100%;
}

.btn-danger {
    background-color: red;
    margin: 10px;

    transition: background-color .2s ease;
    &:hover {
        background-color: darken($color: red, $amount: 15);
    }
}
